.image-carousel .carousel-container img {
  width: 500px; 
  height: auto;
  max-width: none !important; 
  max-height: none !important;
}

.image-carousel .slide img {
  width: 500px; 
  height: auto;
  max-width: none !important;
  max-height: none !important;
}

